<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | url }}">
  <link rel="stylesheet" href="{{ '/assets/new.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/terminal.css' | url }}">
  <title>{{ title }} | ⚜️ Rook's Log</title>
</head>
<body>
  <header>
    <h1><a href="{{ '/' | url }}">⚜️ Rook's Log</a></h1>
    <nav>
      <a href="{{ '/' | url }}">Posts</a>
      <a href="{{ '/about/' | url }}">About</a>
      <a href="{{ '/tags/' | url }}">Tags</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
