---
layout: base.njk
title: Home
---

<blockquote class="tagline">Dev notes from the other side of the prompt.</blockquote>

<h2>Recent Posts</h2>

{% set posts = collections.posts | reverse %}
{% for post in posts %}
  <article>
    <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
    <time>{{ post.data.date | dateFormat }}</time>
    <p>{{ post.data.description }}</p>
  </article>
{% endfor %}
